* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.hero {
  max-width: 1280px;
  height: 600px;
  background-image: url(../assets/images/home/home-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hero nav {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.hero nav .logo {
  width: 416px;
  height: 55px;
  background-image: url(../assets/images/home/occlogo1.png);
  margin-left: 10px;
}
.hero nav .links {
  width: 660px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.hero nav .links a {
  text-decoration: none;
  font-family: arial;
  font-size: 30px;
  color: #ffff;
}

.welcome-content {
  max-width: 1280px;
  min-height: 200px;
  margin: 0 auto;
  display: block;
}
.welcome-content .welcome {
  max-width: 1280px;
  min-height: 396px;
  display: flex;
  margin-top: 100px;
}
.welcome-content .welcome .welcome-image {
  width: 594px;
  height: 396px;
  background-image: url(../assets/images/home/baristas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-content .welcome .welcome-text {
  width: 570px;
  height: 396px;
  margin-left: 60px;
}
.welcome-content .welcome .welcome-text h1 {
  font-family: arial;
  font-size: 35px;
  margin-top: 28px;
}
.welcome-content .welcome .welcome-text p {
  font-family: arial;
  font-size: 20px;
  margin-top: 21px;
  margin-bottom: 44px;
  line-height: 30px;
  letter-spacing: 1px;
}
.welcome-content .cozy {
  max-width: 1280px;
  min-height: 596px;
  display: flex;
  margin: 0 auto;
  margin-top: 126px;
}
.welcome-content .cozy .cozy-text {
  width: 390px;
  height: 596px;
  background-color: rgba(158, 145, 135, 0.41);
  padding-left: 10px;
  padding-right: 10px;
}
.welcome-content .cozy .cozy-text h1 {
  width: 300px;
  font-size: 35px;
  font-family: arial;
  margin-top: 25px;
}
.welcome-content .cozy .cozy-text p {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: arial;
  margin-top: 50px;
}
.welcome-content .cozy .cozy-image {
  width: 868px;
  height: 596px;
  background-image: url(../assets/images/home/loungearea.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 22px;
}
.welcome-content .collage {
  max-width: 1280px;
  height: 740px;
  margin-top: 140px;
  background-image: url(../assets/images/home/orangecatcollage.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  max-width: 1280px;
  min-height: 290px;
  background-color: #2b2817;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 25px;
}
footer .logo {
  width: 416px;
  height: 55px;
  background-image: url(../assets/images/home/occlogo1.png);
  margin-left: 10px;
}
footer .locations {
  width: 416px;
  height: 160px;
  font-family: arial;
  font-size: 30px;
  color: #ffff;
  text-align: center;
  margin-top: 15px;
}

.nav-gray {
  max-width: 1280px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  background-color: #9e9187;
  margin: 0 auto;
}
.nav-gray .logo {
  width: 416px;
  height: 55px;
  background-image: url(../assets/images/home/occlogo2.png);
  margin-left: 10px;
}
.nav-gray .links {
  width: 660px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.nav-gray .links a {
  text-decoration: none;
  font-family: arial;
  font-size: 30px;
  color: #2b2817;
}

.about-content {
  max-width: 632px;
  min-height: 200px;
  margin: 0 auto;
}
.about-content .meetowners {
  max-width: 632px;
  min-height: 539px;
  margin-top: 80px;
  display: block;
}
.about-content .meetowners .owner {
  max-width: 632px;
  min-height: 217px;
  margin-top: 26px;
  display: flex;
}
.about-content .meetowners .owner-pic {
  width: 141px;
  height: 197px;
  margin-bottom: 68px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-content .meetowners .shelley {
  background-image: url(../assets/images/about/about-owner1.jpg);
}
.about-content .meetowners .jack {
  background-image: url(../assets/images/about/about-owner2.jpg);
}
.about-content .meetowners .catsy {
  background-image: url(../assets/images/about/about-catowner1.jpg);
}
.about-content .meetowners .captain {
  background-image: url(../assets/images/about/about-catowner2.jpg);
}
.about-content .meetowners .owner-text {
  width: 413px;
  min-height: 136px;
  margin-bottom: 20px;
  margin-left: 33px;
}
.about-content h1 {
  font-family: arial;
  font-size: 30px;
  color: #2b2817;
}
.about-content p {
  font-family: arial;
  font-size: 20px;
  color: #2b2817;
}

.menu-content {
  max-width: 1280px;
  min-height: 200px;
  margin: 0 auto;
}
.menu-content .menu-image {
  max-width: 948px;
  height: 334px;
  background-image: url(../assets/images/products/products-menupic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 100px;
}
.menu-content .menu-image h1 {
  font-family: arial;
  font-size: 60px;
  color: #ffff;
  text-align: right;
  padding-right: 20px;
  padding-top: 260px;
}
.menu-content .menu {
  max-width: 948px;
  min-height: 200px;
  background-color: rgba(158, 145, 135, 0.41);
  padding-left: 15px;
  margin: 0 auto;
}
.menu-content h3 {
  font-family: arial;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.menu-content .menu-items {
  max-width: 948px;
  min-height: 150px;
}
.menu-content .menu-items h4 {
  font-family: arial;
  font-size: 20px;
  margin-left: 100px;
}
.menu-content .menu-items p {
  font-family: arial;
  font-size: 16px;
  margin-left: 100px;
}
.menu-content .menu-items span {
  position: absolute;
  right: 640px;
}