.hero {
  max-width: 1280px;
  height: 500px;
  background-image: url(../assets/images/home/home-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;

  .logo {
    width: 416px;
    height: 55px;
    background-image: url(../assets/images/home/occlogo1.png);
  }

  .links {
    width: 660px;
    height: 55px;

    a {
      text-decoration: none;
    }
  }
}
