.hero {
  max-width: 1280px;
  height: 600px;
  background-image: url(../assets/images/home/home-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  // padding-top: 25px;
  // display: flex;
  // justify-content: space-between;

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    .logo {
      width: 416px;
      height: 55px;
      background-image: url(../assets/images/home/occlogo1.png);
      margin-left: 10px;
    }

    .links {
      width: 660px;
      height: 45px;
      display: flex;
      justify-content: space-around;
      padding-top: 15px;

      a {
        text-decoration: none;
        font-family: $font-one;
        font-size: 30px;
        color: $white;
      }
    }
  }
}
